<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<p-toast  [style]="{marginTop: '80px'}" position="top-center" key="myKey1"></p-toast>

<app-barra-estudiante></app-barra-estudiante>
<app-breadcrumb></app-breadcrumb>
  <div class="posicion" >

    <div  *ngIf="seleccionado==null" >
      <h1 class="titulosModulos" id="secuencias">Lista de Secuencias</h1>
    </div>
    <div *ngIf="seleccionado==null"  id="centro">
      <p-dataView #dv [value]="arregloCombinaciones" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="both" filterBy="nombre" >
        <p-header>
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-6 ui-md-4 filter-container">
                <div>
                  <label for='busqueda' style="color: transparent; font-size: 0%">Búsqueda</label>
                  <input id='busqueda' type="search" pInputText placeholder="Buscar por nombre" (keyup)="dv.filter($event.target.value)">
                </div>
              </div>
              <div class="ui-g-6 ui-md-4" >
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
            </div>
          </div>
        </p-header>
        <ng-template let-combinacion pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-4" >
              <img alt="icono secuencia" class="imgTabla" src="../../../../../assets/img/iconoSecuencia.png">
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-g">
                <div class="ui-g-2 ui-sm-6 etiqueta">Nombre: </div>
                <div class="ui-g-10 ui-sm-6"><p>{{combinacion.nombre}}</p></div>

                <div class="ui-g-2 ui-sm-6 etiqueta">Tipo: </div>
                <div class="ui-g-10 ui-sm-6"><p>{{combinacion.tipo}}</p></div>
              </div>
            </div>
            <div id="jugar" class="ui-g-12 ui-md-3 play-icon">
              <button pButton type="button" label="Jugar" (click)="selectCombinacion($event, combinacion)" ></button>
            </div>
          </div>
        </ng-template>


        <ng-template let-combinacion pTemplate="gridItem">
          <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="combinacion.nombre" [style]="{'text-align':'center'}">
              <img alt="icono secuencia" class="imgTabla"  src="../../../../../assets/img/iconoSecuencia.png">
              <div >{{combinacion.nombre}}</div>
              <hr class="ui-widget-content" style="border-top:0">
              <button pButton type="button" label="Jugar" (click)="selectCombinacion($event, combinacion)" style="margin-top:0"></button>
            </p-panel>
          </div>
        </ng-template>

      </p-dataView>
    </div >


    <div id="cajaJuegoSecuencia" *ngIf="seleccionado!=null && practica==false && ganaste==false">

      <p class="instrucciones">Ordenar la siguiente secuencia</p>
      <div class="cajaOrdenada">
      <div class="p-grid" style="margin-top: .5em">
        <div class="p-col" *ngFor="let item of imagenesOrdenas; let i=index" >
          <div class="box">
            <img alt="imagen juego secuencia" id="imgJugarSecuencia"  [hidden]="!hideme[item.posicion]" src="{{item.path}}" >
          </div>
        </div>
      </div>
      </div>
      <div class="p-grid separacionSecuencia">
        <div class="p-col" *ngFor="let item of imagenesSort;" >
          <div class="box">
            <img alt="imagen juego secuencia" id="imgJugarSecuencia" [hidden]="hideme[item.posicion]" src="{{item.path}}" (click)="contadorMouse(item.posicion)"   >
          </div>
        </div>
      </div>
    </div>

    <div id="cajaMemorizar" *ngIf="seleccionado!=null && ganaste==false && practica==true" >
      <h2 class="titulosModulos">{{seleccionado.nombre}}</h2>

      <p class="instrucciones">Memoriza la secuencia</p>
      <div class="p-grid" style="margin-top: .5em">
        <div class="p-col" *ngFor="let item of imagenesOrdenas; " >
          <div class="box" >
            <img alt="imagen repaso secuencia" id="imgJuego" src="{{item.path}}" style="width: 125px; height: 125px"  >
          </div>
        </div>
      </div>
      <div class="p-grid" style="margin-top: .5em">
        <div class="p-col" *ngFor="let item of sonidosOrdenados; " >
          <div class="box" >
            <i id="icono"  class="pi pi-volume-up" style="font-size: 35px" (mouseover)="playAudio(item.path)" (mouseout)="stopAudio()"></i>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="seleccionado!=null && ganaste==false && practica==true" class="separacion-btn" id="btnJugar" pButton label="Iniciar Juego" (click)="practica=false"></button>

    <div  *ngIf="ganaste==true" style="width: 60%; padding: 10%; margin-left: 20%;">

      <p-card >
        <h2>Felicidades Ganaste</h2>
        <br>
        <img alt="bien hecho" src="../../../../../assets/img/bienHecho.gif" style="width: 50%; margin-left: auto">
        <br>
     <!--   <button pButton label="Aceptar" type="button" class="ui-button-info" (click)="combinaciones()" ></button>-->
      </p-card>

    </div>

  </div>

<div  *ngIf="error==true" style="width: 50%; padding: 10%;margin: auto">
  <p-card style="position: relative">
    <h3>Vuelve a intentarlo</h3>
    <br>
    <img alt="vuelve a intentarlo" src="../../../../../assets/img/Error.gif" style="width: 70%">
    <br>
    <!-- <button pButton label="Aceptar" type="button" class="ui-button-info" (click)="combinaciones()" ></button>-->
  </p-card>
</div>


