<p-overlayPanel  #op >
  <div *ngIf="tipo==='asociacion'">
  <img class="imgInstrucciones" src="../../../../../assets/img/inscomb.gif">
  <div style="text-align: left">
  <p>1. Selecciona la opción <b>Jugar</b></p>
  <p>2. Memoriza cada imagen y su sonido</p>
  <p>3. Selecciona la opción <b>Iniciar Juego</b></p>
  <p>4. Selecciona la imagen con su sonido</p>
  </div>
  </div >
  <div  *ngIf="tipo==='secuencia'">

    <div style="text-align: left">
      <p>1. Selecciona la opción <b>Jugar</b></p>
      <p>2. Memoriza la secuencia de imagenes y sonidos</p>
      <p>3. Selecciona la opción <b>Iniciar Juego</b></p>
      <p>4. Ordena la secuencia</p>
    </div>
  </div>
</p-overlayPanel>




<button type="text" pButton icon="pi pi-question" (click)="op.toggle($event)" ></button>

