<toaster-container></toaster-container>
<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<div class="container contenedor" style="margin-top: 2%">

  <div class="row ">
    <div class="col-12 text-center">
      <h1 class="titulosModulos  separacion-bot-1">Módulo de Terapeutas</h1>
    </div>
  </div>

  <div class="row ">

    <div class="col-12 col-md-3 text-left">
      <h2 class="titulosPequeños">Editar Terapeuta</h2>
      <p>Puede hacer cambios en esta pantalla del usuario menos del campo nombre de usuario</p>
    </div>
    <div class="col-12 col-md-9">
      <app-formulario-terapeuta [esFormularioEditar]="true" (esValidoFormularioTerapeuta)="escucharFormulario($event)"
                                (terapeutaSeleccionado)="escucharTerapeuta($event)"></app-formulario-terapeuta>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <button type="button" class="btn btn-success" [disabled]="!esFormularioValido" (click)="editarUsuario()">
            Actualizar
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-outline-danger" (click)="irListar()"> Cancelar</button>
        </div>
      </div>
    </div>
    <toaster-container></toaster-container>
  </div>
</div>
