<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-light sticky-top" style="margin: auto; background-color: #4CC8E4">
  <button class="navbar-toggler sr-only" title="UP button" data-toggle="collapse" data-target="#collapse_target" style="width: 15%; color: transparent ">
    <span class="navbar-toggler-icon"></span>h
  </button>

  <div class="collapse navbar-collapse" id="collapse_target" style="text-align: left">
    <span class="navbar-text" style="font-weight: bold; font-size: 23px; color:#011627" (click)="iniciar()" >AppSpich</span>
    
    <ul class="navbar-nav" *ngFor="let item of items">
      <li class="nav-item dropdown">
        <a style="color: #011627"  class="nav-link" routerLink="{{item.url}}"target="_self" rel="noopener noreferrer" (click)="limpiar(item.label, item.url)" ><u>{{item.label}}</u></a>
      </li>
    </ul>
  </div>
  <app-instrucciones *ngIf="mostrar===true"></app-instrucciones>
    <button class="btn btn-success btn-block btn-responsive" style="margin-left:1.25em; width: 10%" (click)="logout()">Salir</button>
  
</nav>
