<p-toast key="myKey1"></p-toast>
<form [formGroup]='formularioSecuencia' novalidate autocomplete="off" >

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-8 text-left">
            <label for="identificador" >Identificador</label>
            <input class="form-control" id="identificador" formControlName='identificador' [(ngModel)]="prueba" pInputText disabled/>
       </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-8 text-left">
          <label >Seleccionar Tipo</label>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-check">
                <input type="radio" formControlName="tipo" name="tipo" id="radioAsociacion" value=" Asociación Imagen-Sonido">&nbsp;
                <label class="form-check-label" for="radioAsociacion">
                  Asociación Imagen-Sonido
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-check">
                <input type="radio" formControlName="tipo" name="tipo" id="radioSecuencia" value="Secuencia Visual Auditiva">&nbsp;
                <label class="form-check-label" for="radioSecuencia">
                  Secuencia Visual Auditiva
                </label>
              </div>
            </div>
          </div>
          <div class="alert alert-warning" *ngIf="mensajesErroresTipo.length>0">
            <div *ngFor="let mensaje of mensajesErroresTipo">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
      <div class="row justify-content-center">
        <div class="col-8 text-left">
          <label for="nombreId" >Nombre</label>
          <input class="form-control" id="nombreId" type="text" pInputText formControlName='nombre' (blur)="buscarNombre()" />
            <div class="alert alert-warning" *ngIf="mensajesErroresNombre.length>0">
              <div *ngFor="let mensaje of mensajesErroresNombre">
                <p>{{mensaje}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-8 text-left">
          <label> Seleccionar Estado</label>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-check">
                <input type="radio" formControlName="estado" name="estado" id="radioActivo" value="Activo">&nbsp;
                <label class="form-check-label" for="radioActivo">
                  Activo
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-check">
                <input type="radio" formControlName="estado" name="estado" id="radioInactivo" value="Inactivo">&nbsp;
                <label class="form-check-label" for="radioInactivo">
                  Inactivo
                </label>
              </div>
            </div>
          </div>
            </div>
          </div>
      </div>
  </form>


