<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<div class="container contenedor" style="margin-top: 2%">
  <div class="row ">
    <div class="col-sm-12 text-center">
      <h1 class="titulosModulos">Modulo Secuencias</h1>
      <h1 class="titulosPeque">Ver Secuencia</h1>
      <p>No se puede realizar ningún cambio en esta pantalla</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <app-formulario-secuencia [esFormularioVer]="true" (esValidoFormularioSecuencia)="escucharFormulario($event)" (secuenciaSeleccionada)="escucharSecuencia($event)"></app-formulario-secuencia>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button (click)="irListar()" class="btn btn-outline-danger">Cancelar</button>
        </div>
        <div class="col-4"></div>
      </div>

    </div>
    <div class="col-sm-6">

      <label id="negrita">Lista de Imagenes y Sonidos</label>
      <div class="row">
        <div class="col-sm-6">
          <p-table [columns]="cols" [value]="imagenesOrdenas" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Imagenes</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-imagenesOrdena>
              <tr>
                <td><img id="imgTabla" src="{{imagenesOrdena.source}}"></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-sm-6">
          <p-table [columns]="cols" [value]="sonidosOrdenados" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Sonidos</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sonidosOrden>
              <tr>
                <td>
                  <audio controls>
                    <source src="{{sonidosOrden.src}}" type="audio/mp3">
                    Your browser does not support the audio element.
                  </audio>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
