<p-toast key="myKey1"></p-toast>
<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>


<div class="container contenedor" style="margin-top: 2%">
  <div class="row ">
    <div class="col-12 text-center">
      <h1 class="titulosModulos  separacion-bot-1">Módulo de Secuencias</h1>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 col-md-3 text-left">
      <h2 class="titulosPequeños">Crear Secuencia</h2>
      <p  *ngIf="datosLlenos==false">Llenar los siguientes campos para crear una nueva secuencia</p>
      <div *ngIf="datosLlenos==true">
        <p >Ingresar en el mismo orden las imagenes y sonidos que se presentaran en la secuencia</p>
        <label class="negrita">Identificador:</label> {{secuencia.identificador}}<br>
        <label class="negrita">Nombre:</label> {{secuencia.nombre}}<br>
        <label class="negrita">Tipo:</label> {{secuencia.tipo}}<br>
        <label class="negrita">Estado:</label> {{secuencia.estado}}<br>
      </div>
    </div>

    <div *ngIf="datosLlenos==false" class="col-12 col-md-9">
      <app-formulario-secuencia  [esFormularioCrear]="true" (esValidoFormularioSecuencia)="escucharFormulario($event)"></app-formulario-secuencia>
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn btn-success" (click)="obtenerValores()" [disabled]="btnDes" >Guardar</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-outline-danger" [routerLink]="['/listar-secuencia']">Cancelar</button>
        </div>
      </div>
    </div>

    <div *ngIf="datosLlenos==true" class="col-12 col-md-9">

      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm-6">
          Seleccionar Imagenes
          <input type="file" pInputText accept="image/*"  ng2FileSelect [uploader]="uploader" multiple/><br/>

          <p style="font-weight: bold">Archivos cargados: {{ uploader?.queue?.length }}</p>

          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Tamaño</th>
             <!-- <th>Estado</th>-->
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <strong>{{ item.file.name}}</strong>
              </td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <!--<td nowrap>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>-->

              <td nowrap>
                <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger"
                        (click)="item.remove()"></button> &nbsp;&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="col-sm-6">
          Seleccionar Sonidos
          <input type="file" pInputText ng2FileSelect accept="audio/*" [uploader]="uploader2" multiple size="20"/><br/>

          <p style="font-weight: bold">Archivos cargados: {{ uploader2?.queue?.length }}</p>

          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Tamaño</th>
           <!--   <th>Estado</th>-->
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader2.queue">
              <td>
                <strong>{{ item.file.name}}</strong>
              </td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <!--  <td nowrap>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>-->

              <td nowrap>
                <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger"
                        (click)="item.remove()"></button> &nbsp;&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
          </div>

        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn btn-success"(click)="crearSecuencia()">Guardar</button>
            </div>
            <div class="col-4">
              <button pButton type="button" label="Limpiar" class="ui-button-warning" (click)="uploader.clearQueue(); uploader2.clearQueue()" [disabled]="!uploader.queue.length">
              </button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-outline-danger" (click)="datosLlenos=false;">Cancelar</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>










