#formulario{
  justify-content: center;
  width: 1000px;
  text-align: center;
}


h1, h3, label{
  text-align: center;
  font-family: "Tw Cen MT","Century Gothic";
}

{
 position: absolute;
 top: 155px;
 left: 440px;
 background: white;
 border: 180px solid white;
}
