<p-toast key="myKey1" position="top-left"></p-toast>
<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<div class="container contenedor" style="margin-top: 3%">

  <div class="row ">
    <div class="col-12 text-center">
      <h1 class="first  separacion-bot-1">Módulo de Terapeutas</h1>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 col-md-3 text-left">
      <h2 class="titulosPequeños">Crear Terapeuta</h2>
      <p>Llene todos los campos para crear un nuevo terapeuta</p>
    </div>

    <div class="col-12 col-md-9">

      <app-formulario-terapeuta [esFormularioCrear]="true" (esValidoFormularioTerapeuta)="escucharFormulario($event)"></app-formulario-terapeuta>

      <div class="row justify-content-center">
        <div class="col-sm-4" >
          <button type="button"  class="btn btn-success" [disabled]="!esFormularioValido" (click)="crearTerapeuta()">Guardar</button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-outline-danger" (click)="irListar()" > Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>


