<form [formGroup]='formularioTerapeuta' novalidate autocomplete="off">


  <div class="form-group" [ngClass]="{'has-error': mensajesErroresNombreTerapeuta.length>0}">
    <div class="row justify-content-center">
      <div class="col-8 text-left">
        <label for="nombreId">Nombre</label>
        <input class="form-control" id="nombreId" type="text" size="30" pInputText formControlName='nombre'/>
        <div class="alert alert-warning" *ngIf="mensajesErroresNombreTerapeuta.length>0">
          <div *ngFor="let mensaje of mensajesErroresNombreTerapeuta">
            <p>{{mensaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group" [ngClass]="{'has-error': mensajesErroresApellidoTerapeuta.length>0}">
    <div class="row justify-content-center">
      <div class="col-8 text-left">
        <label for="apellidoId">Apellido</label>
        <input class="form-control" id="apellidoId" type="text" size="30" pInputText formControlName='apellido'/>
        <div class="alert alert-warning" *ngIf="mensajesErroresApellidoTerapeuta.length>0">
          <div *ngFor="let mensaje of mensajesErroresApellidoTerapeuta">
            <p>{{mensaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group" [ngClass]="{'has-error': mensajesErroresNombreUsuario.length>0}">
    <div class="row justify-content-center">
      <div class="col-8 text-left">
        <label for="nombreUsuarioId">Nombre de Usuario</label>
        <input class="form-control" id="nombreUsuarioId" type="text" size="30" pInputText
               formControlName='nombreUsuario'/>
        <div class="alert alert-warning" *ngIf="mensajesErroresNombreUsuario.length>0">
          <div *ngFor="let mensaje of mensajesErroresNombreUsuario">
            <p>{{mensaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group" [ngClass]="{'has-error': mensajesErroresContrasena.length>0}">
    <div class="row justify-content-center">
      <div class="col-8 text-left">
        <label for="contrasenaId">Contraseña</label>
        <input class="form-control" id="contrasenaId" type="password" size="30" pInputText
               formControlName='contrasena'/>
        <div class="alert alert-warning" *ngIf="mensajesErroresContrasena.length>0">
          <div *ngFor="let mensaje of mensajesErroresContrasena">
            <p>{{mensaje}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
