<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<h1 class="titulosModulos">Lista de terapeutas</h1>

<h3 class="instrucciones">A continuación podrá encontrar la lista de los terapeutas registrados</h3>

<div class="container">


  <p-table [value]="arregloTerapeutas" [paginator]="true" [rows]="6" [responsive]="true">

    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <button id="btnListar" icon="fa fa-plus" pButton type="button" label="Registrar" [routerLink]="['/crear-terapeuta']"></button> &nbsp;
      </div>
    </ng-template>

    <ng-template pTemplate="header">
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Nombre de Usuario</th>
    <th>Contraseña</th>
    <th >Opciones</th>
    </tr>
    </ng-template>

    <ng-template pTemplate="body" let-arregloTerapeutas >
    <tr>

      <td style="text-align: center">{{ arregloTerapeutas.nombre}}</td>
      <td style="text-align: center">{{ arregloTerapeutas.apellido}}</td>
      <td style="text-align: center">{{ arregloTerapeutas.nombreUsuario}}</td>
      <td style="text-align: center">*****</td>


      <td style="text-align: center;">
        <p-button icon="fa fa-search" [routerLink]="['/ver-terapeuta', arregloTerapeutas.id]" class="ui-button-info"></p-button> &nbsp;&nbsp;
        <button pButton type="button" icon="fa fa-edit" class="ui-button-success" [routerLink]="['/editar', arregloTerapeutas.id]"></button> &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
    </tr>
    </ng-template>
  </p-table>


</div>


