<div class="lineas" *ngFor="let item of coordenadas" style="width: 100%; height: 100%; position: absolute !important; z-index: -1">
  <svg preserveAspectRatio="none"  style = "overflow: hidden; width: 100%; height: 100%" >
    <line [attr.x1]="item.x1" [attr.y1]=item.y1 [attr.x2]=item.x2 [attr.y2]=item.y2 style="stroke:#f00; stroke-width:3"></line>
  </svg>
</div>
