<!--<div style="text-align: left">
<p-menubar [model]="items" [autoDisplay]="false" >
  <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em" (click)="logout()"></button>
</p-menubar>
</div>-->

<nav class="navbar navbar-expand-md navbar-light sticky-top" style="margin: auto; background-color: #4CC8E4">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target" style="width: 15%">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse_target" style="text-align: left">
    <span class="navbar-text" style="font-weight: bold; font-size: 23px; color: #011627" (click)="iniciar()" ><a>AppSpich</a></span>

    <ul class="navbar-nav" *ngFor="let item of items">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" >{{item.label}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown_target">
          <ul class="navbar-nav" *ngFor="let h of item.items">
          <a class="dropdown-item" style="color: #011627"  routerLink="{{h.url}}" target="_self">{{h.label}}</a>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav" >
      <li class="nav-item dropdown">
        <a class="nav-link " style="color: #011627" routerLink="/estudiante" target="_self">Vista Previa</a>
      </li>
    </ul>


  </div>


  <p style="margin: auto">{{currentUser.account.nombreUsuario}}</p>
  <button class="btn btn-success" style="margin-left:1.25em; width: 9%" (click)="logout()"><i class="fa fa-sign-out" style="text-align: center"></i></button>
</nav>
