<p-toast  [style]="{marginTop: '80px'}" position="top-center" key="myKey1"></p-toast>
<app-barra-estudiante></app-barra-estudiante>
<app-breadcrumb></app-breadcrumb>


<div class="posicion" >
<div  *ngIf="seleccionado==null" >
  <h1 class="titulosModulos" id="asociaciones">Lista de Asociaciones</h1>
</div>
<div *ngIf="seleccionado==null"  id="centro">
<p-dataView #dv [value]="arregloCombinaciones" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="both" filterBy="nombre" >
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <div>
            <label for="busqueda" >Búsqueda</label>
            <input id="busqueda" type="search" pInputText placeholder="Buscar por nombre" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" >
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-combinacion pTemplate="listItem">
    <div class="ui-g"  style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-4" >
        <img alt="iconoCombinación" class="imgTabla" src="../../../../../assets/img/iconoCombinacion.png">
      </div>
      <div class="ui-g-12 ui-md-5">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6 etiqueta" >Nombre: </div>
          <div class="ui-g-10 ui-sm-6"><p>{{combinacion.nombre}}</p></div>

          <div class="ui-g-2 ui-sm-6 etiqueta">Tipo: </div>
          <div class="ui-g-10 ui-sm-6"><p>{{combinacion.tipo}}</p></div>
        </div>
      </div>
      <div id="jugar" class="ui-g-12 ui-md-3 play-icon">
        <button pButton type="button" label="Jugar" (click)="selectCombinacion($event, combinacion)" ></button>
      </div>
    </div>
  </ng-template>


  <ng-template let-combinacion pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="combinacion.nombre" [style]="{'text-align':'center'}">
        <img alt="iconoCombinacion" class="imgTabla"  src="../../../../../assets/img/iconoCombinacion.png">
        <div >{{combinacion.nombre}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" label="Jugar" (click)="selectCombinacion($event, combinacion)" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>

</p-dataView>
</div >


<div id="cajaMemorizar" *ngIf="seleccionado!=null && juego == false && ganaste==false" >

  <h1 class="titulosModulos">{{seleccionado.nombre}}</h1>

  <p class="instrucciones">Pasa el mouse sobre el icono y memoriza el sonido correspondiente a cada imagen</p>

  <div class="p-grid" >
    <div class="p-col" *ngFor="let item of imagenesOrdenas; " >
      <div class="box" >
        <img alt="imagenJuego" id="imgJuego" class="img-fluid" src="{{item.path}}" >
      </div>
    </div>
  </div>
  <div class="p-grid separacionIconos" >
    <div class="p-col" *ngFor="let item of pathSonidos; " >
      <div class="box" >
        <i  id="icono" class="pi pi-volume-up"  (mouseover)="playAudio(item.path)" (mouseout)="stopAudio()" ></i>
      </div>
    </div>
  </div>
</div>

<button *ngIf="seleccionado!=null && juego == false && ganaste==false" id="btnJugar" pButton label="Iniciar Juego" (click)="juego=true"></button>

<div  id="cajaJuego" *ngIf="juego==true && ganaste==false" >
  <p class="instrucciones">Da click sobre el sonido y seleccionar su imagen correspondiente</p>
  <div class="p-grid">
    <div class="p-col" *ngFor="let item of imagenesSort;" >
      <div class="box">
        <img alt="imagenJuego" id="imgJugar" class="img-fluid" src="{{item.path}}" (click)="segundasCoordenadas($event, item)">
        <div *ngIf="positionSonidoX!= null && positionSonidoY!= null&& positionSonidoX2 != null && positionSonidoY2!= null ">
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid separacion">
    <div class="p-col" *ngFor="let item of sonidosSort" >
      <div class="box" >
        <i id="icono" class="pi pi-volume-up" (click)="primerasCordenadas($event, item); playAudio(item.path)" (mouseout)="stopAudio()" ></i>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <p-card *ngIf="fallaste==true" >
    <h2>Felicidades Ganaste</h2>
    <br>
    <img src="../../../../../assets/img/bienHecho.gf" style="width: 50%; margin-left: auto">
    <br>
  </p-card>
</div>-->

</div>

<div  *ngIf="ganaste==true" style="width: 60%; padding: 10%; margin-left: 20%;">

  <p-card >
    <h2>Felicidades Ganaste</h2>
    <br>
    <img alt="bien hecho" src="../../../../../assets/img/bienHecho.gif" style="width: 50%; margin-left: auto">
    <br>
   <!-- <button pButton label="Aceptar" type="button" class="ui-button-info" (click)="combinaciones()" ></button>-->
  </p-card>

</div>

<div  *ngIf="error==true" style="width: 50%; padding: 10%;margin: auto">
<p-card style="position: relative">
  <h3>Vuelve a intentarlo</h3>
  <br>
  <img alt="vuelve a intentarlo" src="../../../../../assets/img/Error.gif" style="width: 70%">
  <br>
  <!-- <button pButton label="Aceptar" type="button" class="ui-button-info" (click)="combinaciones()" ></button>-->
</p-card>
</div>

<div *ngIf="juego==true && ganaste==false">
  <app-union [coordenadas]="coordenadas" ></app-union>
</div>



