<p-toast key="myKey1" ></p-toast>

<div class="container" style=" padding: 5%; width: 100%">
  <div class="row justify-content-center align-items-center minh-100 contenedorLogin">
    <div *ngIf="reset==false" class="col-md-12" style="padding: 6%;">
      <div class="titulosModulos">
        <h1  class="first text-center">Iniciar Sesión</h1>
      </div>
      <img alt="icono aplicación" src="../../../../../assets/img/icons.jpg" style="width: 150px; height: 150px;">
      <form class="separacion-comp" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-md-12 text-left">
              <label>Nombre de usuario</label>

              <input class="form-control" id="nombreUsuario" name="nombreUsuario"  [(ngModel)]="terapeuta.nombreUsuario"  pInputText />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 text-left">
              <label>Contraseña</label>
              <input class="form-control" type="password" id="contrasena" name="contrasena" [(ngModel)]="terapeuta.contrasena" pInputText />
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12">
            <button type="button" class="btn btn-success" (click)="loguearse()" [disabled]="btnDes">Ingresar</button>
          </div>
          <div class="col-12 separacion-comp">
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/']">Cancelar</button>
          </div>
          <br>
          <div class="col-12 separacion-comp">
            <u><a style="font-size: 16px; color: #0075A2" (click)="reset = true">Resetear Contraseña</a></u>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="reset==true" class="col-md-12" style="padding: 6%">
        <h1 class="titulosModulos">Resetear Contraseña</h1>
        <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
          <div class="form-group">
            <div class="row justify-content-center">
              <div class="col-md-12 text-left">
                <label>Nombre de usuario</label>
                <input [disabled]="deshabilitar" type="text" id="nombreUsuario" name="nombreUsuario" class="form-control"
                       [(ngModel)]="terapeuta.nombreUsuario" size="30" pInputText/>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="deshabilitar===true">
            <div class="row justify-content-center">
              <div class="col-md-12 text-left">
                <label>Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control" [(ngModel)]="terapeuta.contrasena" size="30" pInputText/>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12" *ngIf="deshabilitar===false">
              <button type="button" class="btn btn-success" (click)="buscarUsuario()">Buscar</button>
            </div>
            <div class="col-12" *ngIf="deshabilitar===true">
              <button type="button" class="btn btn-success" (click)="actualizar()">Actualizar</button>
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-outline-danger separacion-comp" (click)="reset=false">Cancelar</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
