
h1, h3, p{
  font-family: "Tw Cen MT","Century Gothic";
}

.ui-g div {
  /*background-color: #e9f5f5;*/
  text-align: center;
  /*border: 1px solid #e9f5f5;*/
}

.ui-g{
  justify-content: center;
}

