<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<h1 class="titulosModulos">Lista de Secuencias</h1>

<h3 class="instrucciones">A continuación podrá encontrar la lista de las secuencias registradas</h3>

<div class="container">

    <p-table class="tablas"  [value]="arregloSecuencias" [paginator]="true" [rows]="6" [responsive]="true">

      <ng-template pTemplate="caption">
        <div style="text-align:left">
          <button id="btnListar" pButton icon="fa fa-plus" type="button" label="Registrar" [routerLink]="['/crear-secuencia']"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Imagenes</th>
          <th>Sonidos</th>
          <th>Opciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-arregloSecuencias >
        <tr >

          <td style="text-align: center">{{ arregloSecuencias.nombre}}</td>
          <td style="text-align: center">{{ arregloSecuencias.tipo}}</td>

          <td style="text-align: center">{{timeBetweenDates(arregloSecuencias.updatedAt)}}</td>

          <td *ngIf="arregloSecuencias.estado=='Activo'">
            <p-inputSwitch [(ngModel)]="checked" (onChange)="actualizar(arregloSecuencias)"></p-inputSwitch>
          </td>
          <td *ngIf="arregloSecuencias.estado=='Inactivo'">
            <p-inputSwitch [(ngModel)]="checked1" (onChange)="actualizar(arregloSecuencias)"></p-inputSwitch>
          </td>

          <td style="text-align: center">{{arregloSecuencias.imagenes.length}}</td>

          <td style="text-align: center" >{{arregloSecuencias.sonidos.length}}</td>

          <td style="text-align: center">
            <p-button icon="fa fa-search"  [routerLink]="['/ver-secuencia', arregloSecuencias.id]"  class="ui-button-info"></p-button> &nbsp;
          <!--  <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" ></button> &nbsp;&nbsp;-->

          </td>
        </tr>
      </ng-template>

    </p-table>

</div>
