<app-barra-estudiante></app-barra-estudiante>

<app-breadcrumb></app-breadcrumb>

<h1 class="titulosPequeños">Escoger una opción para inciar</h1>

<div class="container" style="padding: 7%">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-sm-6">
      <a class="titulosPequeños" [routerLink]="['/combinaciones']"  [target]="_self" aria-label="asociaciones" id="asociaciones" name="asociaciones"  > <img alt="acceso asociaciones" src="../../../../../../assets/img/iconoCombinacion.png" ><br> ASOCIACIÓN IMAGEN-SONIDO</a>
    </div>
    <div class="col-sm-6">
      <a class="titulosPequeños" [routerLink]="['/secuencias']" [target]="_self" aria-label="secuencias" id="secuencias" name="secuencias" > <img alt="acceso secuencias" src="../../../../../../assets/img/iconoSecuencia.png" ><br>SECUENCIA VISUAL AUDITIVA</a>
    </div>
  </div>
</div>
