<app-barra-admin></app-barra-admin>
<app-breadcrumb></app-breadcrumb>

<h1 style="color: #666666">Página Principal</h1>
<div class="container" style="padding: 7%">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-sm-6">
      <a [routerLink]="['/listar-secuencia']" id="fonema" style="color: #666666" target="_self"><img alt="secuencias" src="../../../../../../assets/img/iconoCombinacion.png"><br>SECUENCIAS</a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/listar-terapeuta']" id="usuario" style="color: #666666" target="_self" ><img alt="terapeutas" src="../../../../../../assets/img/iconterapeuta.png"><br>TERAPEUTAS</a>
    </div>
  <!--  <div class="col-sm-4">
      <a [routerLink]="['/crear-sonido']" style="color: #666666"><img src="../../../../../../assets/img/sonido.png"><br>SONIDOS</a>
    </div>-->
  </div>
</div>
