
<nav class="navbar-dark" aria-label="breadcrumb ">
  <ol class="breadcrumb navegador" >
    <li class="breadcrumb-item" *ngFor="let item of rutasbc" ><a routerLink="{{item.value}}" target="_self">{{item.key}}</a></li>
  </ol>
</nav>



