
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeflex/primeflex.css";

body{
  background: transparent;
  text-align: center;
}


html, body { height: 100%; }
body { margin: 0;font-family: "Tw Cen MT","Century Gothic";}

p-lightbox {
  width: 100%;
}
p-lightbox  img{
  width: 20%;
}

h1, h2{
  font-family: 'Century Gothic','Tw Cen MT';
  text-align: center
}

/************Inicio***********/


div#header{
  margin-left: 15%;
  left:0px;
  bottom:0px;
  height:50px;
  width:70%;
  background:#c0c0c0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

div#footer1{
  margin-left: 15%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:6%;
  width:70%;
  background:#0075A2;
  padding: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div#footer2{
  position: fixed;
  margin-left: 15%;
  left:0px;
  bottom:0px;
  height:24%;
  width:70%;
  background:#D6FFF6;
  padding: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div i#icono{
  text-align: right;
  /*font-weight: bold;*/
  font-size: 75px;
  color: #0075A2;
}

/**********Combinaciones y Secuencias*/

.ui-dataview{
  text-align: center;
  width: 90%;
}

.ui-helper-clearfix{
  zoom: 0.8 !important;
}

img.imgTabla{
  width: 40%;
  height: 90%;
}


div.posicion{
  position: absolute;
  width: 100%;
}


div#centro{
  margin-left: 10%;
  margin-top: 2%;
}

div#rectangulo {
  padding:0;
  margin:0;
  width:2000px;
  height:2000px;
  background:transparent;
}

div {
  background: transparent
}

#imgJugar{
  width: 155px;
  height: 155px;
}

#imgJugarSecuencia{
  width: 100px;
  height: 100px;
}

.separacionSecuencia{
  margin-top: 12%;
}

.cajaOrdenada{
  width: 100%;
  height: 130px;
}

#jugar{
  margin: auto;
}

#imgJuego{
  cursor: pointer;
  width: 175px;
  height: 175px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#imgJuego:hover, #imgJuego:focus, #imgJuego:active {
  border: 2px solid #C0C0C0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


#btnJugar{
  width:80px;
  height:80px;
  background-color:#0075A2;
  margin-left: 45%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:13px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  font-weight: bold;
}
#btnJugar:hover{
  opacity: 0.50;
  -moz-opacity: .50;
}
#btnJugar a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}

.icono{
  font-size: 50px
}

.separacion{
  margin-top: 16%;
}
.separacion-btn{
  margin-top: 5%;
}
icono.active {
  color: deeppink;
}

.isActive{
  color: green;
}

.inicio{
  color: black;
}

#cajaJuego{
  margin: 30px auto;
  width:80%;
  height: 100%;
  padding: 2% 2% 2% 2%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}


#cajaJuegoSecuencia{
  margin: 30px auto;
  width:80%;
  padding: 2% 2% 2% 2%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

#cajaMemorizar{
  margin: 25px auto;
  width:80%;
  height: 90%;
  padding: 2%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.separacion-bot-1{
 margin-bottom: 3rem;
}

body .ui-inputtext {
  width: -webkit-fill-available !important;
}


th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

table{
  width: 100%;
}

button{
  width: 100%;
}

.contenedor{
  padding: 2% 5% 2% 5%;
  width: 90%;
  margin: auto;
  box-shadow: 0px 2px 30px -12px rgba(13,28,39,0.6);
  background: #fff;
  border-radius: 12px;
}

.btn-success{
  background: #0075A2 !important;
  border: #0075A2;
}

.btn-outline-danger{
  background-color:rgba(255,0,0,0.3);
  border:rgba(255,0,0,0.3) ;
}

.negrita{
  font-weight: bold;
}

.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

#imgTabla{
  width: 35%;
}

audio{
  width: -webkit-fill-available !important;
}

#btnListar{
  width: 8rem;
}

/*******************Titulos (Tipografia)************/

.instrucciones{
  color: #000000;
  font-size: 24px;
  letter-spacing: normal
}

.tablas{
  color: #666666;
  font-size: 13px;
  letter-spacing: normal;
  font-family: 'Century Gothic','Tw Cen MT';
}

.formulario{
  color: #666666;
  font-size: 12px;
  letter-spacing: normal;
}

.titulosPequeños{
  color: #666666;
  font-size: 22px !important;
  margin-top: 4%;
  font-weight: bold;
}

.titulosPeque{
  color: #666666;
  font-size: 22px !important;
  font-weight: bold;
}

.etiqueta{
  color: #666666;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.titulo1{
  color: #000000;
  font-size: 32px;
  letter-spacing: normal;

}
.titulosModulos{
  color: #000000;
  font-size: 34px;
  letter-spacing: normal
}

.titulosContenedor{
  color: #000000;
  font-size: 22px;
  letter-spacing: normal
}

.piePag{
  color: #000000;
  font-size: 18px;
  letter-spacing: normal;
  padding: 1%;
}

.separacionIconos{
  margin-top: 3px;
}

.contenedorLogin{
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  transition: all .2s ease-in-out;
  max-width: 100%
}

.separacion-comp{
  margin-top: 3%;
}

.imgInstrucciones{
  width: 100%;
  height: 100%;
}

.ui-toast-top-right{
  top: 15% !important;
}


@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}