
img{
  width: 200px;
  height: 200px;
  text-align: center;
}

#img{
  font-size: 26px
}

h1, p{
  font-family: 'Century Gothic','Tw Cen MT';
  text-align: center;
}

.cabecera{
  margin-left:  -2px !important;
  padding-top: 4px;
  width: 100%;
  background:#0075A2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#informacion{

  left:0px;
  bottom:0px;
  height:20%;
  width:100%;
  background:#D6FFF6;
  padding: 12px;
}

p#negrilla{
  font-weight: bold
}
