<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div id="header">
  <h1 class="titulo1">AppSpich</h1>
</div>

<h1 class="titulosPequeños">Escoger un rol para iniciar</h1>


<div class="container" style="padding: 7%">
  <div class="row justify-content-center align-items-center minh-100">
      <div class="col-sm-6">
        <a class="titulosPequeños" [routerLink]="['/estudiante']"  target="_self" id="fonema" #estudiante><img alt="imagen de estudiantes" src="../../../../../assets/img/Estudiante.png" ><br>ESTUDIANTE</a>
      </div>
      <div class="col-sm-6">
        <a class="titulosPequeños" [routerLink]="['/home-admin']"  target="_self" id="usuario" #terapeuta><img alt="imagen de terapeuta" src="../../../../../assets/img/Terapeuta.png" ><br>TERAPEUTA</a>
      </div>
  </div>
</div>



<div id="footer1" *ngIf="mostrar==false">
  <div class="row cabecera" >
    <div class="col-sm-11">
      <h3 class="piePag">&copy; ESCUELA POLITÉCNICA NACIONAL 2019</h3> </div>
    <div class="col-sm-1 piePag"><i (click)="cambiar()" class="fas fa-angle-up piePag" ></i></div>
  </div>
</div>

<div id="footer2" *ngIf="mostrar==true">
  <div class="row cabecera" >
    <div class="col-sm-11">
      <h3 class="piePag">&copy; ESCUELA POLITÉCNICA NACIONAL 2019</h3> </div>
    <div class="col-sm-1 piePag"><i (click)="cambiar()" class="fas fa-angle-down" ></i></div>
  </div>

  <div id="informacion">
    <div class="row">
    <!--  <div class="col-sm-4">
        <label style="font-weight: bold"> EPN</label>
        <p><a href="https://www.epn.edu.ec/">Sitio Web</a></p>
        <p></p>
      </div>-->
      <div class="col-sm-6">
        <label>Aplicación para desarrollar Habilidades del habla y memoria</label>
        <label style="font-weight: bold">Desarrollado por:</label> &nbsp; María José Caiza
       <br>maria.caiza@epn.edu.ec

      </div>
      <div class="col-sm-6">
        <label style="font-weight: bold"> INSFIDIM</label>
        <p><a href="https://insfidim.jimdo.com">Sitio Web</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

